extends layout

block content
    h1 Search for places to get fit!
    form#searchBar(action='/' method='POST')
                    p Enter a keyword:
                    input(type='text' placeholder='Enter fitness place' name='term' id  = 'term')
                    p Enter the location:
                    input(type='text' placeholder='City or Address' name='location' id  = 'location')
                    button.fa.fa-search(type='submit' id  = 'submit') Search

    p Top search result for #{term} in #{location}:
    p Name: #{name}
    p Rating: #{rating}
    p Address: #{address}
    p Phone: #{phone}
